@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Pizzerie.Models.PizzaViewModel
@{
    ViewData["Title"] = "Detail pizzy";
}

<div class="grid-container">
    <!-- Header -->
    <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
            <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
            <ul class="navbar-nav">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <span class="nav-link">@UserManager.GetUserAsync(User).Result.UserName.Split("@")[0]</span>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link">Odhlásit</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Přihlášení</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Registrace</a>
                    </li>
                }
            </ul>
        </div>
    </header>
    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="sidebar-title">
            <div class="sidebar-brand">
                <span></span> Administrace
            </div>
            <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <a asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <span class="material-icons-outlined">home</span> Hlavní panel
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-area="" asp-controller="Dashboard" asp-action="SectionEdit">
                    <span class="material-icons-outlined">dashboard</span> Editor sekcí
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-area="" asp-controller="Dashboard" asp-action="GaleryEdit">
                    <span class="material-icons-outlined">image</span> Editor galerie
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-area="" asp-controller="Dashboard" asp-action="MenuEdit">
                    <span class="material-icons-outlined">restaurant_menu</span> Editor menu
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-area="" asp-controller="Dashboard" asp-action="Administrators">
                    <span class="material-icons-outlined">groups</span> Administrátoři
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-area="" asp-controller="Dashboard" asp-action="Options">
                    <span class="material-icons-outlined">settings</span> Nastavení
                </a>
            </li>
        </ul>
    </aside>
    <!-- Main -->
    <main class="main-container">
        <div class="main-title">
            <h2>Smazat box</h2>
        </div>
    </main>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripton)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diameter)
        </dt>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Upravit</a> |
        <a asp-action="Index">Zpět</a>
    </div>
</div>
